*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
    --primary-color: #e91e63;
    --primary-light-color: #ff6090;
    --primary-dark-color: #b0003a;
    --primary-text-color: #263238;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-light-color);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 15%;
}

#search-box {
    width: 60%;
    margin-top: 1rem;
    padding: .5rem;
    font-size: 2rem;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
}

#search-box::placeholder {
    font-style: italic;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: 80%;
}

h1 {
    width: 100%;
    min-height: 7rem;
    color: var(--primary-text-color);
    font-weight: bolder;
    font-size: 4rem !important; /* normalize.css is applied to h1 */
    letter-spacing: 0.8rem;
    text-align: center;
    text-transform: uppercase;
}

span {
    color: var(--primary-dark-color);
}

img {
    width: 30rem;
    height: 20rem;
    margin-top: -5rem;
    border: solid 5px var(--primary-text-color) !important;
    border-radius: 15px;
}

button {
    width: auto;
    padding: 1rem;
    color: var(--primary-light-color);
    font-weight: bolder;
    font-size: 2rem !important;
    text-transform: uppercase !important;
    background-color: var(--primary-dark-color);
    border: 2px solid var(--primary-light-color);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: var(--primary-text-color);
    transform: scale(1.2);
}

@media (min-width: 600px) {
    h1 {
        font-size: 7rem!important;
    }

    img {
        width: 60rem;
        height: 50rem;
        border-radius: 15px;
    }

    #search-box {
        width: 70%;
        padding: 1.5rem;
    }

    button {
        font-size: 3rem!important;
    }
}
